<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>登录</title>
    <link rel="stylesheet" type="text/css" href="/admin/layui/css/layui.css" />
    <link rel="stylesheet" type="text/css" href="/admin/css/login.css" />
</head>

<body>
<div class="m-login-bg">
    <div class="m-login">
        <h3>后台系统登录</h3>
        <div class="m-login-warp">
            <form class="layui-form">
                <div class="layui-form-item">
                    <input type="text" name="username" required lay-verify="required" placeholder="用户名" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-form-item">
                    <input type="text" name="password" required lay-verify="required" placeholder="密码" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <input type="text" name="verity" required lay-verify="required" placeholder="验证码" autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-inline">
                        <img class="verifyImg" onclick="this.src=this.src+'?c='+Math.random();" src="/admin/images/login/yzm.jpg" />
                    </div>
                </div>
                <div class="layui-form-item m-login-btn">
                    <div class="layui-inline">
                        <button id = "login" class="layui-btn layui-btn-normal" lay-submit lay-filter="login">登录</button>
                    </div>
                    <div class="layui-inline">
                        <button id = "register" href="/user/toRegister" class="layui-btn layui-btn-primary">注册</button>
<!--                        <button type="reset" class="layui-btn layui-btn-primary">取消</button>-->
                    </div>
                </div>
            </form>
        </div>
        <p class="copyright">Copyright 2017-2021 by SHEVA</p>
    </div>
</div>
<script src="/admin/layui/layui.js" type="text/javascript" charset="utf-8"></script>
<script>
    layui.use(['form', 'layedit', 'laydate'], function() {
        var form = layui.form();
        var layer = layui.layer;
        $ = layui.jquery;
        //自定义验证规则
        // form.verify({
        //     username: function(value) {
        //         if(value.length < 5) {
        //             return '标题至少得5个字符啊';
        //         }
        //     },
        // });
        //监听提交
        form.on('submit(login)', function(data) {
            $.ajax({
                type : "POST",
                url : "/user/login",
                data : data.field,
                dataType : "json",
                success : function(res){
                    console.info(res.code);
                    if(res.code = '0'){
                        layer.msg('登陆成功');
                    }else{
                        layer.msg('登录失败');
                    }
                }
            });

        });

    });
</script>
</body>

</html>